# while문

In [3]:
num = 0

In [3]:
num = 0
while num !=4:
    print(num)
    num+=1

0
1
2
3

In [4]:
num = 0
while True:
    print(num)
    num+=1
    if num ==4:
        break

0
1
2
3

In [2]:
num=0
while num !=10:
    num+=1
    if num ==4:
        continue
    print(num)

1
2
3
5
6
7
8
9
10

# for문

In [1]:
for i in[1,2,3,4]:
    print(i)

1
2
3
4

In [4]:
for i in[(1,2),(3,4),(5,6)]:
    print(i)

(1, 2)
(3, 4)
(5, 6)

In [6]:
for i,j in[(1,2),(3,4),(5,6)]:
    print(i,j)

1 2
3 4
5 6

# for문 + if문을 통해서 합격여부를 맞추세요
# [90,25,67,45,80]라는 학생 5명의 점수를 for문으로 만들어서 합격여부 맞추기

In [16]:
score = [90,25,67,45,80]
for i in score:
    if i >=60:
        print('점수',i,' 합격입니다')
    else: print('점수',i,'불합격입니다')

점수 90  합격입니다
점수 25 불합격입니다
점수 67  합격입니다
점수 45 불합격입니다
점수 80  합격입니다

In [34]:
score = [90,25,67,45,80]
for i in range(0,len(score)):
    if score[i] >=60:
        print(str(i+1)+'번 학생은',str(score[i])+'점 합격입니다')
    else: print(str(i+1)+'번 학생은',str(score[i])+'점 불합격입니다')

1번 학생은 90점 합격입니다
2번 학생은 25점 불합격입니다
3번 학생은 67점 합격입니다
4번 학생은 45점 불합격입니다
5번 학생은 80점 합격입니다

In [40]:
score = [90,25,67,45,80]
for idx,i in enumerate(score):
    if i >=60:
        print(f'{idx+1}번 학생은 합격입니다')
    else: print(f'{idx+1}번 학생은 불합격입니다')

1번 학생은 합격입니다
2번 학생은 불합격입니다
3번 학생은 합격입니다
4번 학생은 불합격입니다
5번 학생은 합격입니다

In [41]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [44]:
def test(a,b,c):
    d=a+b+c+5
    return d

In [46]:
test(5,1,3)

14

In [47]:
def test2():
    return 'hi'

In [48]:
test2() #변수로 지정할 수 있음

'hi'

In [49]:
def test3():
    print('hi')

In [50]:
test3() #변수로 지정할 수 없음

hi

In [53]:
def test4(*args): #개수가 몇개인지 모를때 튜플 형태로
    sum_list =[]
    for i in args:
        sum_list.append(i+3)
    return sum_list

In [55]:
test4(1,2,3,4,5,6,7)

[4, 5, 6, 7, 8, 9, 10]

In [1]:
score = [90,25,67,45,80]
for idx,i in enumerate(score):
    if i >=60:
        print(f'{idx+1}번 학생은 {i}점 합격입니다')
    else: print(f'{idx+1}번 학생은 {i}점 불합격입니다')

1번 학생은 90점 합격입니다
2번 학생은 25점 불합격입니다
3번 학생은 67점 합격입니다
4번 학생은 45점 불합격입니다
5번 학생은 80점 합격입니다

# 위의 코드를 함수로 만들기

In [66]:
def scoring():
    score=input('점수를 입력: ')
    if int(score)>=60:
        print('합격입니다')
    else: print('불합격입니다')

In [68]:
scoring()

점수를 입력: 13
불합격입니다

In [14]:
def scoring():
    num=[]
    score=0
    while True:
        try:
            score=int(input('점수를 입력: '))
            num.append(score)
        except ValueError:
            print('입력을 종료합니다')
            break
    for idx,i in enumerate(num):
        print(f'{idx+1}번 학생 {i}점')
        if i >=60:
            print(f'{idx+1}번 학생 합격')
        else: print(f'{idx+1}번 학생 불합격')

In [15]:
scoring()

점수를 입력: 90
점수를 입력: 89
점수를 입력: 78
점수를 입력: 6
점수를 입력: 76
점수를 입력: 445
점수를 입력: 44
점수를 입력:
입력을 종료합니다
1번 학생 90점
1번 학생 합격
2번 학생 89점
2번 학생 합격
3번 학생 78점
3번 학생 합격
4번 학생 6점
4번 학생 불합격
5번 학생 76점
5번 학생 합격
6번 학생 445점
6번 학생 합격
7번 학생 44점
7번 학생 불합격

In [1]:
def main():
    print('안녕하세요.')
    while True:
        try:
            age = int(input('나이를 입력: '))
            print('입력하신 나이는 다음과 같습니다',age)
        except ValueError:
            print('입력오류')
            continue
            print('만나서 반가웠습니다.')

# 현재 함수는 잘못입력하면 한방에 끝남
# 사용자가 잘못 입력해도 다시 입력할 수 있도록 하기 원함
# 우리가 배운 것중 하나를 사용하면 가능함

In [1]:
main()

NameError: name 'main' is not defined

In [16]:
def main():
    print('안녕하세요.')
    while True:
        try:
            age = int(input('나이를 입력: '))
            print('입력하신 나이는 다음과 같습니다',age)
            break
        except ValueError:
            print('입력오류')

# lambda

In [2]:
def show(s):
    print(s)

In [3]:
show('안녕하세요')

안녕하세요

In [4]:
ans = lambda s: print(s)

In [5]:
ans('안녕하세요')

안녕하세요

In [6]:
lst=['가렌','파이크','트리스타나','카타리나']

# map
# filter

In [7]:
list(map(lambda x:'챔피언 '+x, lst))

['챔피언 가렌', '챔피언 파이크', '챔피언 트리스타나', '챔피언 카타리나']

In [8]:
list(filter(lambda x:x if len(x)==3 else '',lst))#else 무조건

['파이크']

In [9]:
num_list = [1,2,3,4,5,6,7,8,9,10]

In [15]:
def sum_num(x):
    b=x*2
    return b

In [11]:
list(map(lambda x:x*2,num_list))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [13]:
list(filter(lambda x:x if x%2==0 else '',num_list))

[2, 4, 6, 8, 10]

In [16]:
list(map(lambda x:sum_num(x),num_list))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [27]:
def scoring():
    num=[]
    score=0
    while True:
        try:
            score=int(input('점수를 입력: '))
            num.append(score)
        except ValueError:
            print('입력을 종료합니다')
            break
        list(map(lambda x: str(x)+'점',num))
        list(filter(lambda x:str(x)+'점 합격입니다.' if x>=60 else str(x)+'점 불합격입니다.',num))

In [28]:
scoring()

점수를 입력: 67
점수를 입력: 68
점수를 입력: 56
점수를 입력: 46
점수를 입력:
입력을 종료합니다

# class

In [32]:
result1 =0
result2 =0

def add1(num):
    global result1 #전역변수화
    result1+= num
    return result1

def add2(num):
    global result2 #전역변수화
    result2+= num
    return result2

print(add(4))

8

In [43]:
class Calculator:
    def __init__(self):
        self.result = 0
    def add(self,num):
        self.result += num
        return self.result

In [45]:
class Calculator:
    def __init__(self,first,second): #생성자
        self.result = 0
        self.first =first
        self.second =second
    def add(self,num):
        self.result += num
        return self.result
    def multi(self):
        mult = self.first*self.second
        return mult

In [47]:
cal1=Calculator(4,2)

In [48]:
cal1.multi()

8

In [34]:
cal1 =Calculator()
cal2 =Calculator()

In [35]:
cal1.add(3)

3

In [37]:
cal1.add(4)

7

In [39]:
class MoreCalculator(Calculator):
    def put(self,num):
        self.result -= num
        return self.result

In [41]:
a=MoreCalculator()

In [42]:
a.put(3)

-3

# 파이썬 내부함수

In [49]:
a='11'
b='12'

In [50]:
id(a)

2873122153392

In [51]:
id(b)

2873157337456

# len-리스트의 길이를 반환하는 함수

In [52]:
num_list = [1,45,63,54,56,23,76]

In [53]:
len(num_list)

7

In [55]:
for i in range(0,len(num_list)):
    print(i)

0
1
2
3
4
5
6

In [56]:
max(num_list)

76

In [57]:
min(num_list)

1

In [60]:
a=1.643
round(a)

2

# zip

In [61]:
a= [1,2,3]
b=[4,5,6]

In [62]:
list(zip(a,b))

[(1, 4), (2, 5), (3, 6)]

In [63]:
list(zip('abv','typ'))

[('a', 't'), ('b', 'y'), ('v', 'p')]

# 1부터 100까지 정수 중 짝수만 저장된 리스트를 생성하라

In [40]:
lst=[]
for i in range(1,101):
    if i%2 ==0 :
        lst.append(i)
lst

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [41]:
lst=[]
for i in range(1,101):
    if i%2 ==0 :
        lst.append(i)
lst

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

# 1부터 50까지의 숫자중 5의 배수를 출력하는 코드

In [6]:
for i in range(1,51):
    if i%5==0:
        print(i)

5
10
15
20
25
30
35
40
45
50

# 아래와 같이 리스트의 데이터를 출력하는 코드를 작성하시오

In [8]:
price_list = [32100,32150,32000,32500]
for i in range(0,len(price_list)):
    print(i,price_list[i])

0 32100
1 32150
2 32000
3 32500

# 반복문을 사용하여 다음과 같이 2단부터 9단까지의 구구단을 딕셔너리에 저장하는 코드를 구현
# 딕셔너리의 key값은 숫자형 type 딕셔너리의 value값은 리스트 type

In [21]:
dic={}

for i in range (2,10):
    gugudan=[]   
    dic[i]=gugudan
    for j in range(1,10):
        gugudan.append(i*j)
        
dic

{2: [2, 4, 6, 8, 10, 12, 14, 16, 18],
 3: [3, 6, 9, 12, 15, 18, 21, 24, 27],
 4: [4, 8, 12, 16, 20, 24, 28, 32, 36],
 5: [5, 10, 15, 20, 25, 30, 35, 40, 45],
 6: [6, 12, 18, 24, 30, 36, 42, 48, 54],
 7: [7, 14, 21, 28, 35, 42, 49, 56, 63],
 8: [8, 16, 24, 32, 40, 48, 56, 64, 72],
 9: [9, 18, 27, 36, 45, 54, 63, 72, 81]}

# 리스트에 아래의 데이터가 저장되어 있다고 가정했을 때 아래와 반복문을 이용하여 아래와 같이 출력
# car_num =[[1011,1022],[1201,7202]]

In [30]:
car_num =[[1011,1022],[1201,7202],[2301,1302]]
for i in (car_num):
    for j in i:
        print('차량번호',j)
        print('==============')

차량번호 1011
==============
차량번호 1022
==============
차량번호 1201
==============
차량번호 7202
==============
차량번호 2301
==============
차량번호 1302
==============

In [ ]:
def number():
    while True:
        num=input('주민번호를 입력하세요')
        if len(num)==13:
            print('주민번호 중간에 -표시를 넣어주세요')
            continue
        elif len(num)!=14:
            print('주민번호를 다시 입력하세요')
            continue
        elif num[7:8]=='1':
            print('남자입니다')
        elif num[7:8]=='2':
            print('여자입니다')
        else: print('주민번호가 틀렸습니다')
number()

주민번호를 입력하세요9606011111111
주민번호 중간에 -표시를 넣어주세요
주민번호를 입력하세요960606-1111111
남자입니다
주민번호를 입력하세요960603-2222222
여자입니다
주민번호를 입력하세요960606-3333333
주민번호가 틀렸습니다

In [6]:
phones = {'S5':2014,'S7':2016,'note8':2017,'S9':2018,'S10':2019}
phone=input('기종을 입력하세요')
print('연도',phones[phone])

기종을 입력하세요tt

KeyError: 'tt'

In [9]:
phones = {'S5':2014,'S7':2016,'note8':2017,'S9':2018,'S10':2019}

In [12]:
phone='S5'
phones[phone]

2014

In [3]:
num=input('휴대전화 번호를 입력하세요')
num1=num[0:9]
print('전화번호: ',num1+'####')

휴대전화 번호를 입력하세요010-4127-2278
전화번호:  010-4127-####

In [6]:
num=input('휴대전화 번호를 입력하세요')
b=num.split('-')
b[2] ='####'
print('전화번호: ',b[0],b[1],b[2])

휴대전화 번호를 입력하세요010-4127-2289
전화번호:  010 4127 ####