In [1]:
import pandas as pd
import requests
import cx_Oracle
import pymysql

# 오라클

In [3]:
dsn = cx_Oracle.makedsn('localhost',1521,'xe')
oracle_conn = cx_Oracle.connect(user='icia',password='1234',dsn=dsn)
sql_oracle = oracle_conn.cursor()

In [7]:
query = 'create table test3(id number(1), name varchar(5), constraint test114_pk primary key(id))'

In [8]:
sql_oracle.execute(query)

In [9]:
query2 = 'select * from test3'

In [15]:
pd.read_sql(sql=query2, con=oracle_conn)

C:\Users\user\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

   ID   NAME
0   3  test3

In [13]:
query3 = "insert into test3(id,name) values(3,'test3')"

In [14]:
sql_oracle.execute(query3)

In [16]:
oracle_conn.commit()
sql_oracle.close()
oracle_conn.close()

# mysql

In [17]:
conn =pymysql.connect(host='localhost',user='root',password='1234',db='icia',charset='utf8')
sql_mysql = conn.cursor()

In [18]:
query2 = 'create table test_mysql2(id smallint, name varchar(5),PRIMARY KEY(id))'

In [20]:
sql_mysql.execute(query2)

0

In [19]:
query3='insert into test_mysql2(id,name) values(3, "test3")'

In [21]:
sql_mysql.execute(query3)
result = sql_mysql.fetchall()
conn.commit()

In [22]:
query4 = 'select * from test_mysql2'

In [39]:
sql_mysql.execute(query4)
result = sql_mysql.fetchall()
# conn.close()
print(result)

((3, 'test4'),)

In [37]:
query = 'insert into test_mysql2(id,name) values(3, "test3") on duplicate key update id = 3 , name = "test4"'

In [38]:
sql_mysql.execute(query)
result = sql_mysql.fetchall()
conn.commit()

In [35]:
query = 'delete from test_mysql2 where id = 4'

# pip3 install pandas
# pip3 install pymysql
# pip3 install cx_Oracle

In [2]:
import my_utils as mu

In [2]:
mu.db_open()

oracle open!

In [7]:
query = 'select * from test3'

In [14]:
mu.oracle_execute(query)

   ID   NAME
0   3  test3
1   4  test4

In [9]:
query2= "insert into test3(id,name) values(4,'test4')"

In [10]:
mu.oracle_execute(query2)

'oracle 쿼리 성공!'

In [11]:
mu.oracle_close()

'오라클 닫힘!'

# mysql

In [3]:
conn = mu.connect_mysql('icia')

In [4]:
mu.mysql_execute('select * from test_mysql2',conn)

((3, 'test3'),)

In [5]:
mu.mysql_execute_dict('select * from test_mysql2',conn)

[{'id': 3, 'name': 'test3'}]

In [6]:
mu.mysql_execute('insert into test_mysql2(id,name) values(3,"test3") on duplicate key update id =3, name = "test3"',conn)
conn.commit()
conn.close()

In [7]:
url= 'http://openapi.seoul.go.kr:8088/(인증키)/xml/tbLnOpendataRentV/1/5/'

In [11]:
df=mu.df_creater(url)

In [9]:
selc=['SGG_NM','BJDONG_NM','LAND_GBN_NM','FLR_NO', 'CNTRCT_DE', 'RENT_GBN', 'RENT_AREA', 'RENT_GTN', 'RENT_FEE', 'BLDG_NM', 'BUILD_YEAR']

In [13]:
my_df = df[selc].copy()

In [14]:
my_df.columns=['자치구명','법정동명','지번구분명','층수','계약일','전월세','면적','보증금','임대료','건물명','건축년도']

In [15]:
my_df = my_df.astype({'층수':'float','계약일':'int','면적':'float','보증금':'int','임대료':'int'})

In [16]:
my_df

     자치구명 법정동명 지번구분명    층수       계약일 전월세     면적    보증금  임대료          건물명  건축년도
0    영등포구  도림동         0.0  20230308  전세  41.23  10000    0               1990
1     광진구  자양동         0.0  20230308  월세  41.60    500   40               1983
2     강동구  천호동         0.0  20230308  월세  40.00   1000   60               1996
3     동작구  사당동         0.0  20230308  전세  36.22  13500    0               1990
4     성동구  도선동    대지   5.0  20230308  월세  24.98   2000  120    TOWER 275  2023
..    ...  ...   ...   ...       ...  ..    ...    ...  ...          ...   ...
995   강남구  세곡동    대지   6.0  20230307  전세  84.98  43225    0  세곡리엔파크(4단지)  2011
996   동작구  상도동    대지   9.0  20230307  월세   9.00   3000   43         그린시티  2018
997   구로구  구로동    대지   5.0  20230307  전세  21.96   8000    0         조성빌라  2000
998   은평구  갈현동    대지   1.0  20230307  전세  48.60  20000    0           가원  2001
999   구로구  오류동    대지  11.0  20230307  전세  84.99  38000    0         우림필유  2005

[1000 rows x 11 columns]

In [19]:
my_df['층수'].dtype

dtype('float64')

In [55]:
query = 'drop TABLE housePrice'

# oracle

In [45]:
query ="""
CREATE TABLE housePrice(자치구명 varchar(50),법정동명 varchar(50), 지번구분명 varchar(50),층수 float(20)
,계약일 number,전월세 varchar(50),면적 float,보증금 number,임대료 number,건물명 varchar(100), 
건축년도 varchar(20))
"""
#oracle

In [49]:
mu.db_open()
mu.oracle_execute(query)

oracle open!
ORA-00955: name is already used by an existing object

In [47]:
query2 = 'select * from housePrice'

In [50]:
mu.oracle_execute(query2)

Empty DataFrame
Columns: [자치구명, 법정동명, 지번구분명, 층수, 계약일, 전월세, 면적, 보증금, 임대료, 건물명, 건축년도]
Index: []

In [62]:
mu.db_open()
mu.oracle_execute(query4)
mu.oracle_close()

oracle open!

'오라클 닫힘!'


# mysql

In [61]:
query3 ="""
CREATE TABLE housePrice(자치구명 varchar(50),법정동명 varchar(50), 지번구분명 varchar(50),층수 float(20)
,계약일 int,전월세 varchar(50),면적 float,보증금 int,임대료 int,건물명 varchar(100), 
건축년도 varchar(20))
"""
#mysql

In [57]:
conn = mu.connect_mysql('icia')
mu.mysql_execute(query3,conn)

()

In [52]:
query4=(
f'insert into housePrice(자치구명,법정동명,지번구분명,층수,계약일,전월세,면적,보증금,임대료,건물명,건축년도)'
f'values({repr(my_df.자치구명.iloc[0])},{repr(my_df.법정동명.iloc[0])},{repr(my_df.지번구분명.iloc[0])},'
f'{my_df.층수.iloc[0]},{my_df.계약일.iloc[0]},{repr(my_df.전월세.iloc[0])},{my_df.면적.iloc[0]},{my_df.보증금.iloc[0]},'
f'{my_df.임대료.iloc[0]},{repr(my_df.건물명.iloc[0])},{repr(my_df.건축년도.iloc[0])})'
)

In [63]:
conn= mu.connect_mysql('icia')
mu.mysql_execute(query4,conn)
conn.commit()
conn.close()

In [64]:
conn= mu.connect_mysql('icia')
query5 = 'select *from housePrice'
mu.mysql_execute(query5,conn)

(('영등포구', '도림동', '', 0.0, 20230308, '전세', 41.23, 10000, 0, '', '1990'),)

# conda install tqdm

In [69]:
from tqdm import tqdm

# insert문을 함수로 만들 예정

In [70]:
conn = mu.connect_mysql('icia')
for i in tqdm(range(len(my_df))):
    query4=(
    f'insert into housePrice(자치구명,법정동명,지번구분명,층수,계약일,전월세,면적,보증금,임대료,건물명,건축년도)'
    f'values({repr(my_df.자치구명.iloc[i])},{repr(my_df.법정동명.iloc[i])},{repr(my_df.지번구분명.iloc[i])},'
    f'{my_df.층수.iloc[i]},{my_df.계약일.iloc[i]},{repr(my_df.전월세.iloc[i])},{my_df.면적.iloc[i]},{my_df.보증금.iloc[i]},'
    f'{my_df.임대료.iloc[i]},{repr(my_df.건물명.iloc[i])},{repr(my_df.건축년도.iloc[i])})'
    )
    mu.mysql_execute(query4,conn)
conn.commit()
conn.close()

# mysql

100%|████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:00<00:00, 2693.88it/s]

In [66]:
mu.db_open()
for i in tqdm(range(len(my_df))):
    query4=(
    f'insert into housePrice(자치구명,법정동명,지번구분명,층수,계약일,전월세,면적,보증금,임대료,건물명,건축년도)'
    f'values({repr(my_df.자치구명.iloc[i])},{repr(my_df.법정동명.iloc[i])},{repr(my_df.지번구분명.iloc[i])},'
    f'{my_df.층수.iloc[i]},{my_df.계약일.iloc[i]},{repr(my_df.전월세.iloc[i])},{my_df.면적.iloc[i]},{my_df.보증금.iloc[i]},'
    f'{my_df.임대료.iloc[i]},{repr(my_df.건물명.iloc[i])},{repr(my_df.건축년도.iloc[i])})'
    )
    mu.oracle_execute(query4)
mu.oracle_close()

# oracle

oracle open!

'오라클 닫힘!'

In [67]:
mu.db_open()
mu.oracle_execute(query5)

oracle open!

C:\Users\user\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,자치구명,법정동명,지번구분명,층수,계약일,전월세,면적,보증금,임대료,건물명,건축년도
0,성동구,응봉동,대지,3.0,20230308,전세,84.53,45000,0,대림(2차),1989
1,노원구,상계동,대지,3.0,20230308,전세,13.36,8400,0,중앙프라자,2013
2,관악구,봉천동,None,0.0,20230308,월세,19.84,1000,50,None,2017
3,은평구,진관동,대지,8.0,20230308,월세,24.91,2000,58,아이파크 포레스트 게이트,2013
4,용산구,이촌동,대지,10.0,20230308,월세,84.88,51870,11,현대한강,1997
...,...,...,...,...,...,...,...,...,...,...,...
998,은평구,수색동,대지,4.0,20230307,월세,32.78,1054,15,대림한숲(DMC이편한세상),2003
999,서초구,우면동,대지,5.0,20230307,월세,49.90,7374,12,서초네이처힐3단지,2013
1000,은평구,녹번동,대지,3.0,20230307,전세,70.92,20000,0,명성맨션(154-26),1998
1001,송파구,방이동,대지,18.0,20230307,전세,19.36,22500,0,사보이시티잠실,2021
1002,관악구,봉천동,대지,2.0,20230307,전세,41.21,22000,0,금강빌,2012

In [73]:
conn = mu.connect_mysql('icia')
df = pd.DataFrame(mu.mysql_execute_dict(query5,conn))

In [75]:
df

,자치구명,법정동명,지번구분명,층수,계약일,전월세,면적,보증금,임대료,건물명,건축년도
0,영등포구,도림동,,0.0,20230308,전세,41.23,10000,0,,1990
1,영등포구,도림동,,0.0,20230308,전세,41.23,10000,0,,1990
2,광진구,자양동,,0.0,20230308,월세,41.60,500,40,,1983
3,강동구,천호동,,0.0,20230308,월세,40.00,1000,60,,1996
4,동작구,사당동,,0.0,20230308,전세,36.22,13500,0,,1990
...,...,...,...,...,...,...,...,...,...,...,...
996,강남구,세곡동,대지,6.0,20230307,전세,84.98,43225,0,세곡리엔파크(4단지),2011
997,동작구,상도동,대지,9.0,20230307,월세,9.00,3000,43,그린시티,2018
998,구로구,구로동,대지,5.0,20230307,전세,21.96,8000,0,조성빌라,2000
999,은평구,갈현동,대지,1.0,20230307,전세,48.60,20000,0,가원,2001
1000,구로구,오류동,대지,11.0,20230307,전세,84.99,38000,0,우림필유,2005

In [78]:
def df_insert_oracle(df):
    query4=(
    f'insert into housePrice(자치구명,법정동명,지번구분명,층수,계약일,전월세,면적,보증금,임대료,건물명,건축년도)'
    f'values({repr(df.자치구명.iloc[i])},{repr(df.법정동명.iloc[i])},{repr(df.지번구분명.iloc[i])},'
    f'{df.층수.iloc[i]},{df.계약일.iloc[i]},{repr(df.전월세.iloc[i])},{df.면적.iloc[i]},{df.보증금.iloc[i]},'
    f'{df.임대료.iloc[i]},{repr(df.건물명.iloc[i])},{repr(df.건축년도.iloc[i])})'
    )
    mu.oracle_execute(query4)
    return

In [79]:
def df_insert_mysql(df):
    query4=(
    f'insert into housePrice(자치구명,법정동명,지번구분명,층수,계약일,전월세,면적,보증금,임대료,건물명,건축년도)'
    f'values({repr(df.자치구명.iloc[i])},{repr(df.법정동명.iloc[i])},{repr(df.지번구분명.iloc[i])},'
    f'{df.층수.iloc[i]},{df.계약일.iloc[i]},{repr(df.전월세.iloc[i])},{df.면적.iloc[i]},{df.보증금.iloc[i]},'
    f'{df.임대료.iloc[i]},{repr(df.건물명.iloc[i])},{repr(df.건축년도.iloc[i])})'
    )
    mu.mysql_execute(query4,conn)
    return

# 서울시 공공데이터포탈 - 서울시 코로나 19 확진자 발생동향
# api를 통해서 함수 만들었던 것으로 데이터 불러오기
# 'S_DT','S_HJ','S_CARE','S_RECOVER','S_DEATH','T_HJ','DEATH'
# 컬럼명 - 서울시기준일, 서울시확진자, 서울시치료중, 서울시 퇴원, 서울시사망,전국확진, 전국사망
# db에 테이블 생성해주시고 insert(Corona19CountStatus)

In [80]:
url='http://openapi.seoul.go.kr:8088/(인증키)/xml/TbCorona19CountStatus/1/5/'

In [84]:
seoul=mu.df_creater(url)

In [85]:
selc=['S_DT','S_HJ','S_CARE','S_RECOVER','S_DEATH','T_HJ','DEATH']

In [86]:
my_df = seoul[selc].copy()

In [88]:
my_df.columns=['서울시기준일', '서울시확진자', '서울시치료중', '서울시퇴원', '서울시사망','전국확진', '전국사망']

In [91]:
my_df=my_df.astype({'서울시확진자':'float','서울시치료중':'float','서울시사망':'float','전국확진':'float','전국사망':'float'})

In [95]:
mu.db_open() #oracle
query3 ="""
CREATE TABLE Corona19CountStatus(서울시기준일 varchar(50), 서울시확진자 number(20), 서울시치료중 number(20), 서울시퇴원 varchar(20), 서울시사망 number(20), 전국확진 number(20), 전국사망 number(20))
"""
mu.oracle_execute(query3)
mu.oracle_close()

oracle open!

'오라클 닫힘!'

In [96]:
mu.db_open() #oracle
for i in tqdm(range(len(my_df))):
    query4=(
    f'insert into Corona19CountStatus(서울시기준일, 서울시확진자, 서울시치료중, 서울시퇴원, 서울시사망,전국확진, 전국사망)'
    f'values({repr(my_df.서울시기준일.iloc[i])},{my_df.서울시확진자.iloc[i]},{my_df.서울시치료중.iloc[i]},'
    f'{repr(my_df.서울시퇴원.iloc[i])},{my_df.서울시사망.iloc[i]},{my_df.전국확진.iloc[i]},{my_df.전국사망.iloc[i]})'
    )
    mu.oracle_execute(query4)
mu.oracle_close()

oracle open!

100%|████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:00<00:00, 1714.61it/s]

'오라클 닫힘!'

In [97]:
mu.db_open() #oracle
query5 = 'select * from Corona19CountStatus'
mu.oracle_execute(query5)
mu.oracle_close()

oracle open!

C:\Users\user\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

'오라클 닫힘!'

In [106]:
conn = mu.connect_mysql('icia') #mysql
query3 =""" 
CREATE TABLE Corona19CountStatus(서울시기준일 varchar(50), 서울시확진자 float(20), 서울시치료중 float(20), 서울시퇴원 varchar(20), 서울시사망 float(20), 전국확진 float(20), 전국사망 float(20))
"""
mu.mysql_execute(query3,conn)

OperationalError: (1050, "Table 'corona19countstatus' already exists")

In [135]:
def key(my_df):
    lst=[]
    for idx,i in enumerate(my_df.keys()):
        lst.append(i)
    return lst

In [136]:
key(my_df)

['서울시기준일', '서울시확진자', '서울시치료중', '서울시퇴원', '서울시사망', '전국확진', '전국사망']

In [221]:
query_1 = "insert into Corona19CountStatus("
for idx,i in enumerate(key(my_df)):
    if idx == len(key(my_df))-1:
        query_1+=(i+')')
    else : query_1+=(i+',')

In [222]:
query_1

'insert into Corona19CountStatus(서울시기준일,서울시확진자,서울시치료중,서울시퇴원,서울시사망,전국확진,전국사망)'

In [234]:
query_2 = ' values('
for idx,i in enumerate(key(my_df)):
    if idx == len(key(my_df))-1:
        query_2+=(repr(str(my_df[i].iloc[i]))+')')
    else : query_2+=(repr(str(my_df[i].iloc[i]))+',')

TypeError: Cannot index by location index with a non-integer key

In [230]:
query_2

' values(repr(str(my_df.서울시기준일.iloc[i])),repr(str(my_df.서울시확진자.iloc[i])),repr(str(my_df.서울시치료중.iloc[i])),repr(str(my_df.서울시퇴원.iloc[i])),repr(str(my_df.서울시사망.iloc[i])),repr(str(my_df.전국확진.iloc[i])),repr(str(my_df.전국사망.iloc[i])))'

In [231]:
query3 = query_1+query_2

In [232]:
query3

'insert into Corona19CountStatus(서울시기준일,서울시확진자,서울시치료중,서울시퇴원,서울시사망,전국확진,전국사망) values(repr(str(my_df.서울시기준일.iloc[i])),repr(str(my_df.서울시확진자.iloc[i])),repr(str(my_df.서울시치료중.iloc[i])),repr(str(my_df.서울시퇴원.iloc[i])),repr(str(my_df.서울시사망.iloc[i])),repr(str(my_df.전국확진.iloc[i])),repr(str(my_df.전국사망.iloc[i])))'

In [179]:
query4

"insert into Corona19CountStatus(서울시기준일, 서울시확진자, 서울시치료중, 서울시퇴원, 서울시사망,전국확진, 전국사망)values('2020.06.14.00',1113.0,420.0,'689',4.0,12085.0,277.0)"

In [212]:
query8=f'insert into Corona19CountStatus(서울시기준일, 서울시확진자, 서울시치료중, 서울시퇴원, 서울시사망,전국확진, 전국사망)'
    f'values({repr(my_df.서울시기준일.iloc[i])},{my_df.서울시확진자.iloc[i]},{my_df.서울시치료중.iloc[i]},'
    f'{repr(my_df.서울시퇴원.iloc[i])},{my_df.서울시사망.iloc[i]},{my_df.전국확진.iloc[i]},{my_df.전국사망.iloc[i]})'

IndentationError: unexpected indent (979703169.py, line 2)

In [100]:
conn= mu.connect_mysql('icia') #mysql
for i in tqdm(range(len(my_df))):
    query4=(
    f'insert into Corona19CountStatus(서울시기준일, 서울시확진자, 서울시치료중, 서울시퇴원, 서울시사망,전국확진, 전국사망)'
    f'values({repr(my_df.서울시기준일.iloc[i])},{my_df.서울시확진자.iloc[i]},{my_df.서울시치료중.iloc[i]},'
    f'{repr(my_df.서울시퇴원.iloc[i])},{my_df.서울시사망.iloc[i]},{my_df.전국확진.iloc[i]},{my_df.전국사망.iloc[i]})'
    )
    mu.mysql_execute(query4,conn)
conn.commit()
conn.close()

100%|████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:00<00:00, 3377.34it/s]

In [102]:
conn= mu.connect_mysql('icia') #mysql
query5 = 'select * from Corona19CountStatus'
mu.mysql_execute(query5,conn)
conn.commit()
conn.close()

In [105]:
conn= mu.connect_mysql('icia') #mysql
query5 = 'select * from Corona19CountStatus'
mu.mysql_execute(query5,conn)

(('2023.03.10.00', 5944740.0, 0.0, '', 6359.0, 30615500.0, 34093.0),
 ('2023.03.09.00', 5942570.0, 0.0, '', 6358.0, 30605200.0, 34081.0),
 ('2023.03.08.00', 5940440.0, 0.0, '', 6358.0, 30594300.0, 34061.0),
 ('2023.03.07.00', 5938000.0, 0.0, '', 6358.0, 30581500.0, 34049.0),
 ('2023.03.06.00', 5935250.0, 0.0, '', 6355.0, 30569200.0, 34034.0),
 ('2023.03.05.00\r\n', 5934510.0, 0.0, '', 6352.0, 30555100.0, 34020.0),
 ('2023.03.04.00', 5932500.0, 0.0, '', 6352.0, 30555100.0, 34020.0),
 ('2023.03.03.00', 5930360.0, 0.0, '', 6351.0, 30544000.0, 34014.0),
 ('2023.03.02.00', 5928070.0, 0.0, '', 6347.0, 30533600.0, 34003.0),
 ('2023.03.01.00', 5926870.0, 0.0, '', 6345.0, 30526000.0, 33988.0),
 ('2023.02.28.00', 5924560.0, 0.0, '', 6344.0, 30513700.0, 33977.0),
 ('2023.02.27.00', 5922240.0, 0.0, '', 6341.0, 30502900.0, 33961.0),
 ('2023.02.26.00', 5921620.0, 0.0, '', 6340.0, 30489700.0, 33940.0),
 ('2023.02.25.00', 5919850.0, 0.0, '', 6338.0, 30489700.0, 33940.0),
 ('2023.02.24.00', 5917940.0, 0.0, '', 6335.0, 30479800.0, 33929.0),
 ('2023.02.23.00', 5915980.0, 0.0, '', 6330.0, 30469700.0, 33909.0),
 ('2023.02.22.00', 5913860.0, 0.0, '', 6329.0, 30458900.0, 33887.0),
 ('2023.02.21.00', 5911510.0, 0.0, '', 6325.0, 30445800.0, 33873.0),
 ('2023.02.20.00', 5909010.0, 0.0, '', 6324.0, 30433900.0, 33865.0),
 ('2023.02.19.00', 5908300.0, 0.0, '', 6323.0, 30429600.0, 33856.0),
 ('2023.02.18.00', 5906400.0, 0.0, '', 6322.0, 30419300.0, 33844.0),
 ('2023.02.17.00', 5904430.0, 0.0, '', 6319.0, 30408700.0, 33832.0),
 ('2023.02.16.00', 5902340.0, 0.0, '', 6312.0, 30397200.0, 33804.0),
 ('2023.02.15.00', 5900060.0, 0.0, '', 6311.0, 30384700.0, 33782.0),
 ('2023.02.14.00', 5897480.0, 0.0, '', 6306.0, 30369700.0, 33758.0),
 ('2023.02.13.00', 5894780.0, 0.0, '', 6302.0, 30355400.0, 33747.0),
 ('2023.02.12.00', 5894040.0, 0.0, '', 6300.0, 30350200.0, 33736.0),
 ('2023.02.11.00', 5891950.0, 0.0, '', 6297.0, 30338100.0, 33713.0),
 ('2023.02.10.00', 5889660.0, 0.0, '', 6295.0, 30325500.0, 33697.0),
 ('2023.02.09.00', 5887290.0, 0.0, '', 6293.0, 30312000.0, 33680.0),
 ('2023.02.08.00', 5884830.0, 0.0, '', 6285.0, 30297300.0, 33646.0),
 ('2023.02.07.00', 5881930.0, 0.0, '', 6281.0, 30279400.0, 33624.0),
 ('2023.02.06.00', 5878880.0, 0.0, '', 6279.0, 30263300.0, 33614.0),
 ('2023.02.05.00', 5878070.0, 0.0, '', 6276.0, 30257400.0, 33596.0),
 ('2023.02.04.00', 5875770.0, 0.0, '', 6272.0, 30243400.0, 33574.0),
 ('2023.02.03.00', 5873340.0, 0.0, '', 6271.0, 30228900.0, 33552.0),
 ('2023.02.02.00', 5870790.0, 0.0, '', 6267.0, 30213900.0, 33522.0),
 ('2023.02.01.00', 5867900.0, 0.0, '', 6263.0, 30197100.0, 33486.0),
 ('2023.01.31.00', 5864630.0, 0.0, '', 6259.0, 30176600.0, 33444.0),
 ('2023.01.30.00', 5860930.0, 0.0, '', 6256.0, 30157000.0, 33420.0),
 ('2023.01.29.00', 5860010.0, 0.0, '', 6252.0, 30149600.0, 33390.0),
 ('2023.01.28.00', 5857090.0, 0.0, '', 6246.0, 30130700.0, 33361.0),
 ('2023.01.27.00', 5853040.0, 0.0, '', 6240.0, 30107400.0, 33332.0),
 ('2023.01.26.00', 5847960.0, 0.0, '', 6235.0, 30075700.0, 33296.0),
 ('2023.01.25.00', 5841150.0, 0.0, '', 6232.0, 30040600.0, 33270.0),
 ('2023.01.24.00', 5837960.0, 0.0, '', 6231.0, 30021000.0, 33245.0),
 ('2023.01.23.00', 5835840.0, 0.0, '', 6230.0, 30008800.0, 33235.0),
 ('2023.01.22.00', 5834400.0, 0.0, '', 6225.0, 29999500.0, 33209.0),
 ('2023.01.21.00', 5832080.0, 0.0, '', 6223.0, 29982900.0, 33185.0),
 ('2023.01.20.00', 5826940.0, 0.0, '', 6218.0, 29955400.0, 33134.0),
 ('2023.01.19.00', 5821930.0, 0.0, '', 6214.0, 29928000.0, 33104.0),
 ('2023.01.18.00', 5816420.0, 0.0, '', 6205.0, 29898100.0, 33057.0),
 ('2023.01.17.00', 5809790.0, 0.0, '', 6196.0, 29861200.0, 33014.0),
 ('2023.01.16.00', 5801240.0, 0.0, '', 6193.0, 29821000.0, 32984.0),
 ('2023.01.15.00', 5799100.0, 0.0, '', 6189.0, 29806900.0, 32949.0),
 ('2023.01.14.00', 5793350.0, 0.0, '', 6183.0, 29774300.0, 32912.0),
 ('2023.01.13.00', 5786740.0, 0.0, '', 6176.0, 29737800.0, 32867.0),
 ('2023.01.12.00', 5779540.0, 0.0, '', 6170.0, 29698000.0, 32821.0),
 ('2023.01.11.00', 5771590.0, 0.0, '', 6159.0, 29654100.0, 32745.0),
 ('2023.01.10.00', 5762060.0, 0.0, '', 6142.0, 29599700.0, 32669.0),
 ('2023.01.09.00', 5749920.0, 0.0, '', 6131.0, 29539700.0, 32625.0),
 ('2023.01.08.00', 5747070.0, 0.0, '', 6127.0, 29520600.0, 32590.0),
 ('2023.01.07.00', 5739240.0, 0.0, '', 6122.0, 29473800.0, 32556.0),
 ('2023.01.06.00', 5729350.0, 0.0, '', 6112.0, 29420200.0, 32496.0),
 ('2023.01.05.00', 5718940.0, 0.0, '', 6103.0, 29363300.0, 32421.0),
 ('2023.01.04.00', 5707430.0, 0.0, '', 6094.0, 29299200.0, 32355.0),
 ('2023.01.03.00', 5693510.0, 0.0, '', 6080.0, 29220600.0, 32301.0),
 ('2023.01.02.00', 5676540.0, 0.0, '', 6075.0, 29139500.0, 32272.0),
 ('2023.01.01.00', 5673240.0, 0.0, '', 6065.0, 29116800.0, 32219.0),
 ('2022.12.31.00', 5663250.0, 0.0, '', 6062.0, 29059300.0, 32156.0),
 ('2022.12.30.00', 5651700.0, 0.0, '', 6057.0, 28996300.0, 32095.0),
 ('2022.12.29.00', 5640030.0, 0.0, '', 6049.0, 28931100.0, 32027.0),
 ('2022.12.28.00', 5626640.0, 0.0, '', 6036.0, 28859700.0, 31951.0),
 ('2022.12.27.00', 5610850.0, 0.0, '', 6026.0, 28772200.0, 31882.0),
 ('2022.12.26.00', 5592130.0, 0.0, '', 6023.0, 28684600.0, 31832.0),
 ('2022.12.25.00', 5588540.0, 0.0, '', 6015.0, 28659100.0, 31790.0),
 ('2022.12.24.00', 5578030.0, 0.0, '', 6010.0, 28600600.0, 31744.0),
 ('2022.12.23.00', 5566000.0, 0.0, '', 5999.0, 28534600.0, 31674.0),
 ('2022.12.22.00', 5553590.0, 0.0, '', 5991.0, 28466400.0, 31611.0),
 ('2022.12.21.00', 5539640.0, 0.0, '', 5981.0, 28390600.0, 31549.0),
 ('2022.12.20.00', 5524080.0, 0.0, '', 5971.0, 28302500.0, 31490.0),
 ('2022.12.19.00', 5505860.0, 0.0, '', 5959.0, 28214900.0, 31434.0),
 ('2022.12.18.00', 5501660.0, 0.0, '', 5950.0, 28188300.0, 31395.0),
 ('2022.12.17.00', 5491020.0, 0.0, '', 5941.0, 28129400.0, 31353.0),
 ('2022.12.16.00', 5478660.0, 0.0, '', 5932.0, 28062700.0, 31298.0),
 ('2022.12.15.00', 5466260.0, 0.0, '', 5924.0, 27995700.0, 31232.0),
 ('2022.12.14.00', 5453430.0, 0.0, '', 5915.0, 27925600.0, 31174.0),
 ('2022.12.13.00', 5438250.0, 0.0, '', 5908.0, 27841000.0, 31128.0),
 ('2022.12.12.00', 5420560.0, 0.0, '', 5905.0, 27754100.0, 31099.0),
 ('2022.12.11.00', 5416650.0, 0.0, '', 5902.0, 27728500.0, 31069.0),
 ('2022.12.10.00', 5407040.0, 0.0, '', 5899.0, 27674200.0, 31029.0),
 ('2022.12.09.00', 5395380.0, 0.0, '', 5891.0, 27611600.0, 30975.0),
 ('2022.12.08.00', 53838500.0, 0.0, '', 5881.0, 27548800.0, 30908.0),
 ('2022.12.07.00', 5371560.0, 0.0, '', 5872.0, 27483600.0, 30847.0),
 ('2022.12.06.00', 5357810.0, 0.0, '', 5865.0, 27408900.0, 30793.0),
 ('2022.12.05.00', 5341440.0, 0.0, '', 5858.0, 27331200.0, 30769.0),
 ('2022.12.04.00', 5337520.0, 0.0, '', 5847.0, 27308100.0, 30729.0),
 ('2022.12.03.00', 5328990.0, 0.0, '', 5840.0, 27261500.0, 30669.0),
 ('2022.12.02.00', 5318650.0, 0.0, '', 5829.0, 27208800.0, 30621.0),
 ('2022.12.01.00', 5308160.0, 0.0, '', 5824.0, 27155800.0, 30568.0),
 ('2022.11.30.00', 5297120.0, 0.0, '', 5807.0, 27098700.0, 30506.0),
 ('2022.11.29.00', 5284840.0, 0.0, '', 5796.0, 27031300.0, 30454.0),
 ('2022.11.28.00', 5269330.0, 0.0, '', 5792.0, 26959800.0, 30413.0),
 ('2022.11.27.00', 5265540.0, 0.0, '', 5779.0, 26937500.0, 30369.0),
 ('2022.11.26.00', 5256380.0, 0.0, '', 5770.0, 26890500.0, 30330.0),
 ('2022.11.25.00', 5246240.0, 0.0, '', 5765.0, 26837800.0, 30278.0),
 ('2022.11.24.00', 5235560.0, 0.0, '', 5756.0, 26784100.0, 30223.0),
 ('2022.11.23.00', 5224100.0, 0.0, '', 5742.0, 26725100.0, 30164.0),
 ('2022.11.22.00', 5210610.0, 0.0, '', 5734.0, 26654700.0, 30111.0),
 ('2022.11.21.00', 5194990.0, 0.0, '', 5723.0, 26581900.0, 30066.0),
 ('2022.11.20.00', 5191170.0, 0.0, '', 5720.0, 26558800.0, 30031.0),
 ('2022.11.19.00', 5182360.0, 0.0, '', 5715.0, 26512800.0, 29990.0),
 ('2022.11.18.00', 5172270.0, 0.0, '', 5705.0, 26462300.0, 29925.0),
 ('2022.11.17.00', 5162530.0, 0.0, '', 5693.0, 26412900.0, 29862.0),
 ('2022.11.16.00', 5151680.0, 0.0, '', 5679.0, 26357500.0, 29795.0),
 ('2022.11.15.00', 5139200.0, 0.0, '', 5669.0, 26290900.0, 29748.0),
 ('2022.11.14.00', 5123660.0, 0.0, '', 5665.0, 26218000.0, 29709.0),
 ('2022.11.13.00', 5120010.0, 0.0, '', 5660.0, 26194200.0, 29665.0),
 ('2022.11.12.00', 5110750.0, 0.0, '', 5655.0, 26145800.0, 29617.0),
 ('2022.11.11.00', 5099930.0, 0.0, '', 5643.0, 26091500.0, 29571.0),
 ('2022.11.10.00', 5089030.0, 0.0, '', 5643.0, 26037000.0, 29531.0),
 ('2022.11.09.00', 5077960.0, 0.0, '', 5637.0, 25981700.0, 29479.0),
 ('2022.11.08.00', 5065480.0, 0.0, '', 5629.0, 25919200.0, 29420.0),
 ('2022.11.07.00', 5051320.0, 0.0, '', 5626.0, 25856900.0, 29390.0),
 ('2022.11.06.00', 5048000.0, 0.0, '', 5626.0, 25838200.0, 29372.0),
 ('2022.11.05.00', 5040840.0, 0.0, '', 5624.0, 25801600.0, 29354.0),
 ('2022.11.04.00', 5032740.0, 0.0, '', 5622.0, 25760700.0, 29315.0),
 ('2022.11.03.00', 5024070.0, 0.0, '', 5617.0, 25717300.0, 29280.0),
 ('2022.11.02.00', 5014530.0, 0.0, '', 5612.0, 25670400.0, 29239.0),
 ('2022.11.01.00', 5003590.0, 0.0, '', 5608.0, 25615700.0, 29209.0),
 ('2022.10.31.00', 4990580.0, 0.0, '', 5603.0, 25557300.0, 29176.0),
 ('2022.10.30.00', 4987480.0, 0.0, '', 5598.0, 25538800.0, 29158.0),
 ('2022.10.29.00', 4980780.0, 0.0, '', 5597.0, 25504300.0, 29131.0),
 ('2022.10.28.00', 4973200.0, 0.0, '', 5594.0, 25467000.0, 29100.0),
 ('2022.10.27.00', 4965730.0, 0.0, '', 5590.0, 25431100.0, 29069.0),
 ('2022.10.26.00', 4958900.0, 0.0, '', 5587.0, 25396200.0, 29043.0),
 ('2022.10.25.00', 4951010.0, 0.0, '', 5582.0, 25355400.0, 29017.0),
 ('2022.10.24.00', 4940960.0, 0.0, '', 5577.0, 25311600.0, 29000.0),
 ('2022.10.23.00', 4938520.0, 0.0, '', 5576.0, 25297300.0, 28990.0),
 ('2022.10.22.00', 4933340.0, 0.0, '', 5575.0, 25271100.0, 28974.0),
 ('2022.10.21.00', 4927340.0, 0.0, '', 5572.0, 25244300.0, 28952.0),
 ('2022.10.20.00', 4922280.0, 0.0, '', 5569.0, 25219500.0, 28922.0),
 ('2022.10.19.00', 4916880.0, 0.0, '', 5567.0, 25194200.0, 28899.0),
 ('2022.10.18.00', 4910980.0, 0.0, '', 5561.0, 25164700.0, 28856.0),
 ('2022.10.17.00', 4903460.0, 0.0, '', 5560.0, 25131500.0, 28851.0),
 ('2022.10.16.00', 4901540.0, 0.0, '', 5558.0, 25120.5, 28840.0),
 ('2022.10.15.00', 4897350.0, 0.0, '', 5554.0, 25099000.0, 28808.0),
 ('2022.10.14.00', 4892780.0, 0.0, '', 5549.0, 25076200.0, 28783.0),
 ('2022.10.13.00', 4887950.0, 0.0, '', 5540.0, 25052700.0, 28748.0),
 ('2022.10.12.00', 4882700.0, 0.0, '', 5540.0, 25025700.0, 28723.0),
 ('2022.10.11.00', 4875900.0, 0.0, '', 5536.0, 24995200.0, 28708.0),
 ('2022.10.10.00', 4872850.0, 0.0, '', 5535.0, 24979800.0, 28698.0),
 ('2022.10.09.00', 4871350.0, 0.0, '', 5531.0, 24970800.0, 28675.0),
 ('2022.10.08.00', 4867800.0, 0.0, '', 5526.0, 24953100.0, 28646.0),
 ('2022.10.07.00', 4863860.0, 0.0, '', 5520.0, 24933800.0, 28614.0),
 ('2022.10.06.00', 4859550.0, 0.0, '', 5514.0, 24911500.0, 28573.0),
 ('2022.10.05.00', 4854040.0, 0.0, '', 5504.0, 24882900.0, 28544.0),
 ('2022.10.04.00', 4846380.0, 0.0, '', 5502.0, 24848200.0, 28528.0),
 ('2022.10.03.00', 4843290.0, 0.0, '', 5500.0, 24831800.0, 28509.0),
 ('2022.10.02.00', 4841260.0, 0.0, '', 5500.0, 24819600.0, 28489.0),
 ('2022.10.01.00', 4836470.0, 0.0, '', 5491.0, 24796000.0, 28445.0),
 ('2022.09.30.00', 4830890.0, 0.0, '', 5486.0, 24769100.0, 28406.0),
 ('2022.09.29.00', 4825110.0, 0.0, '', 5481.0, 24740600.0, 28364.0),
 ('2022.09.28.00', 4818840.0, 0.0, '', 5475.0, 24709800.0, 28318.0),
 ('2022.09.27.00', 4811730.0, 0.0, '', 5467.0, 24673700.0, 28272.0),
 ('2022.09.26.00', 4803180.0, 0.0, '', 5464.0, 24634300.0, 28246.0),
 ('2022.09.25.00', 4800850.0, 0.0, '', 5460.0, 24620100.0, 28213.0),
 ('2022.09.24.00', 4795960.0, 0.0, '', 5449.0, 24594300.0, 28140.0),
 ('2022.09.23.00', 4790320.0, 0.0, '', 5438.0, 24565000.0, 28077.0),
 ('2022.09.22.00', 4784700.0, 0.0, '', 5430.0, 24535900.0, 28009.0),
 ('2022.09.21.00', 4778550.0, 0.0, '', 5417.0, 24503000.0, 27950.0),
 ('2022.09.20.00', 4771200.0, 0.0, '', 5404.0, 24461700.0, 27891.0),
 ('2022.09.19.00', 4761490.0, 0.0, '', 5400.0, 24413900.0, 27867.0),
 ('2022.09.18.00', 4758290.0, 0.0, '', 5394.0, 24394500.0, 27828.0),
 ('2022.09.17.00', 4752320.0, 0.0, '', 5388.0, 24359700.0, 27782.0),
 ('2022.09.16.00', 4744660.0, 0.0, '', 5381.0, 24316300.0, 27725.0),
 ('2022.09.15.00', 4735450.0, 0.0, '', 5375.0, 24264500.0, 27665.0),
 ('2022.09.14.00', 4723630.0, 0.0, '', 5368.0, 24193000.0, 27593.0),
 ('2022.09.13.00', 4706260.0, 0.0, '', 5358.0, 24099100.0, 27533.0),
 ('2022.09.12.00', 4696710.0, 0.0, '', 5354.0, 24041800.0, 27498.0),
 ('2022.09.11.00', 4690420.0, 0.0, '', 5352.0, 24004900.0, 27476.0),
 ('2022.09.10.00', 4685610.0, 0.0, '', 5339.0, 23976700.0, 27429.0),
 ('2022.09.09.00', 4679530.0, 0.0, '', 5332.0, 23933900.0, 27381.0),
 ('2022.09.08.00', 4667220.0, 0.0, '', 5319.0, 23864600.0, 27313.0),
 ('2022.09.07.00', 4654170.0, 0.0, '', 5313.0, 23792000.0, 27249.0),
 ('2022.09.06.00', 4639650.0, 0.0, '', 5300.0, 23706500.0, 27193.0),
 ('2022.09.05.00', 4620900.0, 0.0, '', 5296.0, 23606700.0, 27149.0),
 ('2022.09.04.00', 4615590.0, 0.0, '', 5290.0, 23569200.0, 27093.0),
 ('2022.09.03.00', 4603650.0, 0.0, '', 5277.0, 23497000.0, 27014.0),
 ('2022.09.02.00', 4589800.0, 0.0, '', 5263.0, 23417400.0, 26940.0),
 ('2022.09.01.00', 4574260.0, 0.0, '', 5251.0, 23327900.0, 26876.0),
 ('2022.08.31.00', 4560950.0, 0.0, '', 5228.0, 23246400.0, 26764.0),
 ('2022.08.30.00', 4545050.0, 0.0, '', 5218.0, 23142500.0, 26689.0),
 ('2022.08.29.00', 4524640.0, 0.0, '', 5212.0, 23027000.0, 26618.0),
 ('2022.08.28.00', 4518890.0, 0.0, '', 5202.0, 22983800.0, 26569.0),
 ('2022.08.27.00', 4505840.0, 0.0, '', 5191.0, 22898500.0, 26499.0),
 ('2022.08.26.00', 4491240.0, 0.0, '', 5179.0, 22803000.0, 26413.0),
 ('2022.08.25.00', 4475520.0, 0.0, '', 5165.0, 22701900.0, 26332.0),
 ('2022.08.24.00', 4457830.0, 0.0, '', 5155.0, 22588600.0, 26224.0),
 ('2022.08.23.00', 4437280.0, 0.0, '', 5151.0, 22449500.0, 26161.0),
 ('2022.08.22.00', 4411620.0, 0.0, '', 5140.0, 22299400.0, 26109.0),
 ('2022.08.21.00', 4404220.0, 0.0, '', 5134.0, 22240300.0, 26044.0),
 ('2022.08.20.00', 4387480.0, 0.0, '', 5129.0, 22129400.0, 25980.0),
 ('2022.08.19.00', 4367520.0, 0.0, '', 5115.0, 22000000.0, 25896.0),
 ('2022.08.18.00', 4346520.0, 0.0, '', 5101.0, 21861300.0, 25813.0),
 ('2022.08.17.00', 4318180.0, 0.0, '', 5095.0, 21682800.0, 25752.0),
 ('2022.08.16.00', 4285730.0, 0.0, '', 5088.0, 21502200.0, 25710.0),
 ('2022.08.15.00', 4272670.0, 0.0, '', 5082.0, 21418000.0, 25673.0),
 ('2022.08.14.00', 4264420.0, 0.0, '', 5077.0, 21356000.0, 25623.0),
 ('2022.08.13.00', 4244830.0, 0.0, '', 5067.0, 21236400.0, 25566.0),
 ('2022.08.12.00', 4222980.0, 0.0, '', 5058.0, 21111800.0, 25499.0),
 ('2022.08.11.00', 4200150.0, 0.0, '', 5041.0, 20983200.0, 25441.0),
 ('2022.08.10.00', 4175640.0, 0.0, '', 5030.0, 20846000.0, 25382.0),
 ('2022.08.09.00', 4149590.0, 0.0, '', 5020.0, 20694200.0, 25332.0),
 ('2022.08.08.00', 4120130.0, 0.0, '', 5012.0, 20544400.0, 25292.0),
 ('2022.08.07.00', 4112260.0, 0.0, '', 5005.0, 20489100.0, 25263.0),
 ('2022.08.06.00', 4093890.0, 0.0, '', 5003.0, 20383600.0, 25236.0),
 ('2022.08.05.00', 4073750.0, 0.0, '', 4994.0, 20273000.0, 25191.0),
 ('2022.08.04.00', 4052940.0, 0.0, '', 4985.0, 20160200.0, 25144.0),
 ('2022.08.03.00', 4032710.0, 0.0, '', 4979.0, 20052300.0, 25110.0),
 ('2022.08.02.00', 4009710.0, 0.0, '', 4974.0, 19932400.0, 25084.0),
 ('2022.08.01.00', 3985120.0, 0.0, '', 4970.0, 19820700.0, 25086.0),
 ('2022.07.31.00', 3977780.0, 0.0, '', 4969.0, 19776000.0, 25047.0),
 ('2022.07.30.00', 3963630.0, 0.0, '', 4964.0, 19702500.0, 25027.0),
 ('2022.07.29.00', 3947050.0, 0.0, '', 4958.0, 19620500.0, 24992.0),
 ('2022.07.28.00', 3929540.0, 0.0, '', 4954.0, 19535200.0, 24957.0),
 ('2022.07.27.00', 3911410.0, 0.0, '', 4949.0, 19446900.0, 24932.0),
 ('2022.07.26.00', 3891340.0, 0.0, '', 4944.0, 19346800.0, 24907.0),
 ('2022.07.25.00', 3868260.0, 0.0, '', 4943.0, 19247500.0, 24890.0),
 ('2022.07.24.00', 3862290.0, 0.0, '', 4938.0, 19211600.0, 24873.0),
 ('2022.07.23.00', 3848480.0, 0.0, '', 4935.0, 19146200.0, 24855.0),
 ('2022.07.22.00', 3833660.0, 0.0, '', 4931.0, 19077700.0, 24825.0),
 ('2022.07.21.00', 3818280.0, 0.0, '', 4927.0, 19009100.0, 24794.0),
 ('2022.07.20.00', 3801620.0, 0.0, '', 4923.0, 18938000.0, 24777.0),
 ('2022.07.19.00', 3784430.0, 0.0, '', 4921.0, 18861600.0, 24765.0),
 ('2022.07.18.00', 3766410.0, 0.0, '', 4921.0, 18788100.0, 24753.0),
 ('2022.07.17.00', 3761520.0, 0.0, '', 4918.0, 18761800.0, 24742.0),
 ('2022.07.16.00', 3752950.0, 0.0, '', 4916.0, 18721400.0, 24728.0),
 ('2022.07.15.00', 3743500.0, 0.0, '', 4914.0, 18680100.0, 24712.0),
 ('2022.07.14.00', 3734550.0, 0.0, '', 4912.0, 18641300.0, 24696.0),
 ('2022.07.13.00', 3724900.0, 0.0, '', 4909.0, 18602100.0, 24680.0),
 ('2022.07.12.00', 3715540.0, 0.0, '', 4907.0, 18561900.0, 24668.0),
 ('2022.07.11.00', 3706130.0, 0.0, '', 4907.0, 18524500.0, 24661.0),
 ('2022.07.10.00', 3703510.0, 0.0, '', 4905.0, 18511800.0, 24643.0),
 ('2022.07.09.00', 3698270.0, 0.0, '', 4905.0, 18491400.0, 24624.0),
 ('2022.07.08.00', 3693370.0, 0.0, '', 4903.0, 18471200.0, 24605.0),
 ('2022.07.07.00', 3688770.0, 0.0, '', 4901.0, 18451900.0, 24593.0),
 ('2022.07.06.00', 3684190.0, 0.0, '', 4900.0, 18433400.0, 24583.0),
 ('2022.07.05.00', 3679420.0, 0.0, '', 4898.0, 18414000.0, 24576.0),
 ('2022.07.04.00', 3674640.0, 0.0, '', 4897.0, 18395900.0, 24574.0),
 ('2022.07.03.00', 3673480.0, 0.0, '', 4896.0, 18389600.0, 24570.0),
 ('2022.07.02.00', 3671040.0, 0.0, '', 4894.0, 18379600.0, 24562.0),
 ('2022.07.01.00', 3668270.0, 0.0, '', 4891.0, 18368900.0, 24555.0),
 ('2022.06.30.00', 3665930.0, 0.0, '', 4889.0, 18359300.0, 24547.0),
 ('2022.06.29.00', 3663650.0, 0.0, '', 4888.0, 18349800.0, 24537.0),
 ('2022.06.28.00', 3661180.0, 0.0, '', 4886.0, 18339300.0, 24530.0),
 ('2022.06.27.00', 3658710.0, 0.0, '', 4886.0, 18329400.0, 24525.0),
 ('2022.06.26.00', 3658110.0, 0.0, '', 4886.0, 18326000.0, 24522.0),
 ('2022.06.25.00', 3656800.0, 0.0, '', 4885.0, 18319800.0, 24516.0),
 ('2022.06.24.00', 3655250.0, 0.0, '', 4882.0, 18313000.0, 24498.0),
 ('2022.06.23.00', 3653650.0, 0.0, '', 4881.0, 18305800.0, 24488.0),
 ('2022.06.22.00', 3652070.0, 0.0, '', 4878.0, 18298300.0, 24474.0),
 ('2022.06.21.00', 3650290.0, 0.0, '', 4875.0, 18289400.0, 24463.0),
 ('2022.06.20.00', 3648260.0, 0.0, '', 4868.0, 18280100.0, 24451.0),
 ('2022.06.19.00', 3647540.0, 0.0, '', 4865.0, 18276600.0, 24441.0),
 ('2022.06.18.00', 3646430.0, 0.0, '', 4864.0, 18270500.0, 24427.0),
 ('2022.06.17.00', 3645190.0, 0.0, '', 4863.0, 18263600.0, 24416.0),
 ('2022.06.16.00', 3643910.0, 0.0, '', 4862.0, 18256500.0, 24407.0),
 ('2022.06.15.00', 3642360.0, 0.0, '', 4858.0, 18248500.0, 24399.0),
 ('2022.06.14.00', 3640670.0, 0.0, '', 4855.0, 18239100.0, 24390.0),
 ('2022.06.13.00', 3638910.0, 0.0, '', 4855.0, 18229300.0, 24388.0),
 ('2022.06.12.00', 3638250.0, 0.0, '', 4853.0, 18225500.0, 24371.0),
 ('2022.06.11.00', 3637090.0, 0.0, '', 4852.0, 18218100.0, 24351.0),
 ('2022.06.10.00', 3635710.0, 0.0, '', 4849.0, 18209600.0, 24341.0),
 ('2022.06.09.00', 3634170.0, 0.0, '', 4847.0, 18200300.0, 24323.0),
 ('2022.06.08.00', 3632160.0, 0.0, '', 4845.0, 18188200.0, 24305.0),
 ('2022.06.07.00', 3629540.0, 0.0, '', 4845.0, 18174900.0, 24299.0),
 ('2022.06.06.00', 3628590.0, 0.0, '', 4840.0, 18168700.0, 24279.0),
 ('2022.06.05.00', 3627860.0, 0.0, '', 4838.0, 18163700.0, 24258.0),
 ('2022.06.04.00', 3626140.0, 0.0, '', 4835.0, 18153900.0, 24238.0),
 ('2022.06.03.00', 3623880.0, 0.0, '', 4833.0, 18141800.0, 24229.0),
 ('2022.06.02.00', 3621440.0, 0.0, '', 4830.0, 18129300.0, 24212.0),
 ('2022.06.01.00', 3619620.0, 0.0, '', 4829.0, 18119400.0, 24197.0),
 ('2022.05.31.00', 3616700.0, 0.0, '', 4825.0, 18103600.0, 24176.0),
 ('2022.05.30.00', 3613360.0, 0.0, '', 4824.0, 18086500.0, 24167.0),
 ('2022.05.29.00', 3612240.0, 0.0, '', 4820.0, 18080300.0, 24518.0),
 ('2022.05.28.00', 3610220.0, 0.0, '', 4818.0, 18067700.0, 24139.0),
 ('2022.05.27.00', 3607950.0, 0.0, '', 4816.0, 18053300.0, 24103.0),
 ('2022.05.26.00', 3604920.0, 0.0, '', 4809.0, 18036700.0, 24063.0),

In [115]:
type(len(my_df.keys()))

int

In [110]:
my_df

            서울시기준일     서울시확진자  서울시치료중 서울시퇴원   서울시사망        전국확진     전국사망
0    2023.03.10.00  5944743.0     0.0        6359.0  30615522.0  34093.0
1    2023.03.09.00  5942573.0     0.0        6358.0  30605187.0  34081.0
2    2023.03.08.00  5940442.0     0.0        6358.0  30594297.0  34061.0
3    2023.03.07.00  5937995.0     0.0        6358.0  30581499.0  34049.0
4    2023.03.06.00  5935247.0     0.0        6355.0  30569215.0  34034.0
..             ...        ...     ...   ...     ...         ...      ...
995  2020.06.18.00     1170.0   446.0   718     6.0     12257.0    280.0
996  2020.06.17.00     1145.0   430.0   710     5.0     12198.0    279.0
997  2020.06.16.00     1132.0   425.0   703     4.0     12155.0    278.0
998  2020.06.15.00     1120.0   427.0   689     4.0     12121.0    277.0
999  2020.06.14.00     1113.0   420.0   689     4.0     12085.0    277.0

[1000 rows x 7 columns]